<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 d-flex justify-content-center flex-column">
            <h3>Oi, sou Paulo Bento</h3>
            <h2>sou Desenvolvedor Front-end e mobile</h2>
            <p>Do conceito à realidade: Criando soluções web inovadoras para resolver seus desafios.</p>
        </div>
        <div class="col-md-5 offset-md-1">
            <img [src]="'assets/img/paulo_bento.jpeg'" alt="" class="img-fluid">
        </div>
    </div>
</div>