/* You can add global styles to this file, and also import other style files */
$regular-font: 'Baloo 2', cursive;
$title-font: 'Poppins', sans-serif;

$primary-color: #40916C;
$secondary-color: #272B2C;
$text-regular-color: #A1A1A1;

body {
    background-color: $secondary-color;
    font-family: $regular-font;
}